{% if vm.net is defined %}
network-interfaces: |
  iface eth0 inet static
  address {{ vm.net.ip }}
  netmask {{ vm.net.mask }}
  gateway {{ vm.net.gateway }}
  dns-nameservers 8.8.8.8 {{ vm.net.dns }}
  dns-search {{ vm.net.domain }}
bootcmd:
  - ifdown eth0
  - ifup eth0
{% endif %}
