#cloud-config
ds: nocloud
hostname: "{{ vm.name }}"
fqdn: "{{ vm.name }}.{{ domain }}"
manage_etc_hosts: false
ssh_pwauth: True 
password: devops
chpasswd: { expire: False }
timezone: UTC


{% if enableroot is defined %}
#Root Password
disable_root: false
runcmd:
  - sed -i'.orig' -e's/without-password/yes/' /etc/ssh/sshd_config
  - service sshd restart
{% endif %}

# Configure where output will go
output:
  all: ">> /var/log/cloud-init.log"

# Install my public ssh key to the first user-defined user configured
# in cloud.cfg in the template (which is centos for CentOS cloud images)
ssh_authorized_keys:
  - {{ vm_public_key }}
